[Unit]
Description=fan2go (OmaFlow)
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/fan2go -c /etc/fan2go/fan2go.yaml
Restart=on-failure
RestartSec=3
TimeoutStartSec=180
NoNewPrivileges=yes
PrivateTmp=yes
ProtectHome=yes
ProtectSystem=strict
ReadWritePaths=/var/lib/omaflow

[Install]
WantedBy=multi-user.target
